.header {
  height: 155px;
  padding: 64px 11.458333% 67px 11.458333%; /* 165px/1440 */
  position: relative;
  z-index: 999;
  max-width: 1920px;
  margin: 0 auto;
}
.menu_wrap{
  visibility: visible;
  position: relative;
}
.menu {
  gap: 42px;
}
.link{
  color: #333136;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 2px;
}

.link:hover{
    text-decoration: underline;
}
@media screen and (max-width: 968px) {
  .header{
  padding: 64px 5.078125%; /* 39px/768 */
  }
}
@media screen and (max-width: 768px) {
  .header{
    height: 96px;
    padding: 35px 6.4% 34px 6.4%; /* 24px/375 */
  }
 .menu_wrap{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 96px;
  left: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease, height 0.3s ease;
 }
 .active{
  opacity: 1;
  visibility: visible;
  height: calc(100vh - 96px);
 }
 .menu{
  background: #1D1C1E;
  height: auto;
  width: 100%;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  padding: 48px 6.4%; /* 24px/375 */
 }
 .link{
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 104.167% */
letter-spacing: 2px;
text-transform: uppercase;
 }
}